.header-info{
    text-align: center;
    background-color: aqua;
    padding: 10px;
}
.header-info a{
    text-decoration: none;
    margin-right: 30px;
    padding: 10px;
    background-color: yellowgreen;
}

a:hover{
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}